// -----------------------------------------------------------------------------
// This file contains all styles related to the grid of the site/application.
// -----------------------------------------------------------------------------

.grid-container,
.grid-row,
.grid-cell {
  box-sizing: border-box;
  vertical-align: top;
}

.grid-container {
  display: table;
}

.grid-row {
  display: table-row;
}

.grid-cell {
  display: table-cell;
}

.grid-cell-3 {
  width: 25%;
}

.grid-cell-4 {
  width: 33.333%;
}

.grid-cell-6 {
  width: 50%;
}

.grid-cell-9 {
  width: 75%;
}

.grid-sep-hor-01 {
  padding: 0 0.5em;
}

.grid-sep-right-02 {
  padding-right: 2em;
}


.flex-container {
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}


.flex-col-4 {
  -webkit-flex-basis: 33.333%;
  -ms-flex-preferred-size: 33.333%;
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.flex-col-5 {
  -webkit-flex-basis: 40%;
  -ms-flex-preferred-size: 40%;
  flex-basis: 40%;
  max-width: 40%;
}

.flex-col-7 {
  -webkit-flex-basis: 60%;
  -ms-flex-preferred-size: 60%;
  flex-basis: 60%;
  max-width: 60%;
}

@media (max-width: 450px) {

  .flex-container {
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .flex-col-4 {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  .grid-container,
  .grid-row,
  .grid-cell {
    display: block;
  }

  .grid-cell-3,
  .grid-cell-4,
  .grid-cell-6,
  .grid-cell-9 {
    width: 100%;
  }

}

.list-inline {
  .ul {
    list-style: none;
  }

  li {
    position: relative;
    display: inline-block;
    margin-right: -4px;
  }
}