// -----------------------------------------------------------------------------
// This file contains all styles related to the summaries of the site/application.
// -----------------------------------------------------------------------------

.main-container-summaries {
  box-sizing: border-box;
  /* padding-right: 2em; */
}

.box-summary {
  padding: 0.4em;
  margin: 0.3em;
  border-radius: 5px;
  min-height: 260px;
  overflow: hidden;
  box-sizing: border-box;

  .title {
    color: $musimusi;
    font-size: 1em;
    height: 1.6em;
    line-height: 150%;
    font-weight: bold;
    border-bottom: 1px dotted $musimusi;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .summary {
    color: $brand-color-light;
    height: 5em;
    font-size: 1em;
    line-height: 170%;
    overflow: hidden;
  }

  /* .category {
    font-size: 0.8em;
    border-top: 1px dotted $musimusi;
    border-bottom: 1px dotted $musimusi;
    padding: 0.3em 0;
    margin: 0.5em 0;

    .sep {
      color: #ccc;
    } 
  } */

  .img-container {
    width: 99%;
    overflow: hidden;
    margin: 0 auto;
    max-height: 135px;
  }

  img {
    border-radius: 5px;
    margin: 0 auto;
    box-shadow: 2px 2px 1px #D7D7D7;
    width: 100%;
    height: auto;
  }

}

.end-layout {
  margin: 1em 0;
  text-align: center;
  opacity: 0.6;
}