// -----------------------------------------------------------------------------
// This file contains all styles related to the breadcrumb
// -----------------------------------------------------------------------------


.breadcrumb {
  padding: 8px 15px; 
  margin-bottom: 20px;
  list-style: none;
  background-color: #d4ee5e;
  border-radius: 4px;
  margin-top: 0;
  font-size:1em;

  li {
    display: inline-block;
    color: #006900;
    cursor: pointer;

    &::before  {
      content: "/ ";
      font-size:0.6em;
      font-size: 14px;
      line-height: 1.4;
      padding: 0 5px;
      color: #fff;
    } 
  }
 } 