// -----------------------------------------------------------------------------
// This file contains all styles related to the license
// -----------------------------------------------------------------------------


.box-license {
  padding: 1em;
  font-size: 0.9em;
  text-align: center;
  border-radius: 10px;
}