// -----------------------------------------------------------------------------
// This file contains styles that are specific to the series page.
// -----------------------------------------------------------------------------

.category-box  {
	margin: 1em;
    border-radius: 10px;
    background: #F8F8F8;

	.block-img {
		width: 30%;
		box-sizing: border-box;
    	padding: 0.3em;

    	img {
    		border-radius: 0.5em;
    		box-shadow: 2px 2px 1px #D7D7D7;
    	}
	}

	.block-summary {
	    width: 68%;
	    margin-left: 2%;
	    box-sizing: border-box;

	    .title {
	    	margin: 0;
	    	margin-top: 1em;
	        font-size: 1.2em;
		    font-weight: bold;
		    letter-spacing: 1px
	   	} 

	   	.summary {
		    width: 90%;
		    line-height: 160%;
		}
	}
}

